# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/
*.egg

# Testing
.tox/
.nox/
.cache/
.coverage
.coverage.*
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Development environment
venv/
.venv
.vscode/
.ipynb_checkpoints
*.ipynb
